@media screen and (max-width: 768px){
    .nav-item a{
        left: 0;
        bottom: 0;
    }
    .nav-item a:hover{
        left:10px;
        bottom: 0;
    }
    .about .panel{
        left: 0;
    }
    .about .container:last-child{
        padding: 15vmin 3vmin;
    }
    .co-c i{
        padding-bottom: 5vmin;
    }
    .ex-c i{
        padding-top: 5vmin;
    }
    .co-c i, .ex-c i{
        transform: translateY(-0%);
    }
}